* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  text-align: center;
}

p {
  color: #413f42;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 1.5;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.5;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: black;
}

i {
  cursor: pointer;
}

.phone {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 1rem;
  line-height: 1.5;
  color: #000;
  text-decoration: none;
}

.header_text {
  text-align: center;
}

.btn {
  background-color: #890f0d;
  color: #fff;
}

.btn:hover {
  background-color: #fbb900;
  color: #890f0d;
}

#pricing {
  padding: 100px;
  text-align: center;
  margin-top: -80px;
}

.pricing-column {
  padding: 1% 1%;
}

#footer {
  background-color: #dfa67b;
  text-align: center;
  padding: 3% 15%;
}

.foot {
  margin: 15px 10px;
}

.copyright {
  color: black;
}
#form {
  margin-top: 20px;
  padding: 10px 50px 50px 50px;
  background-color: bisque;
}

#order_button {
  color: #fff;
}

#orderForm:hover {
  background-color: #890f0d;
  color: #fff;
}

.form-check {
  padding-top: 8px;
}

/* @media (min-width: 320px) {
    .header_text {
        display: none;
    }
    .header_city {
        display: none
    }
} */

.topbutton {
  position: fixed;
  right: 14px;
  bottom: 15px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 55px; /*ширина кнопки*/
  height: 55px; /*высота кнопки*/
  background: #890f0d;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  line-height: 33px; /*центровка иконки в кнопке*/
  /* -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -khtml-border-radius: 15px; */
}

.topbutton:hover {
  background-color: #fbb900;
  color: #890f0d;
}

@media (max-width: 800px) {
  .topbutton {
    bottom: 5px; /*отступ кнопки снизу от экрана*/
    right: 2px; /*отступ кнопки слева от экрана(right - справа)*/
  }
}

.whatsapp-button {
  position: fixed;
  right: 13px;
  bottom: 90px;
  transform: translate(-50%, -50%);
  background: #25d366; /*цвет кнопки*/
  border-radius: 50%;
  width: 55px; /*ширина кнопки*/
  height: 55px; /*высота кнопки*/
  color: #fff;
  text-align: center;
  line-height: 53px; /*центровка иконки в кнопке*/
  font-size: 35px; /*размер иконки*/
  z-index: 9999;
}
.whatsapp-button a {
  color: #fff;
}
.whatsapp-button:before,
.whatsapp-button:after {
  content: " ";
  display: block;
  position: absolute;
  border: 50%;
  border: 1px solid #25d366; /*цвет анимированных волн от кнопки*/
  left: -20px;
  right: -20px;
  top: -20px;
  bottom: -20px;
  border-radius: 50%;
  animation: animate 1.5s linear infinite;
  opacity: 0;
  backface-visibility: hidden;
}

.whatsapp-button:after {
  animation-delay: 0.5s;
}

@keyframes animate {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

@media (max-width: 800px) {
  .whatsapp-button {
    bottom: 5px; /*отступ кнопки снизу от экрана*/
    left: 50px; /*отступ кнопки слева от экрана(right - справа)*/
  }
}

/* иконка корзины и количества товаров в ней */
.cart {
  position: fixed;
  right: 20px;
  bottom: 890px;
  /* position: relative; */
  background-color: #890f0d;
  color: #fff;
  font-size: 30px;
  padding: 5px;
  border-radius: 15%;
  width: 80px;
}

@media (max-width: 800px) {
  .cart {
    bottom: 750px; /*отступ кнопки снизу от экрана*/
    right: 15px; /*отступ кнопки слева от экрана(right - справа)*/
  }
}

.cart:hover {
  background-color: #fbb900;
  color: #890f0d;
}

.cartAmount {
  position: absolute;
  top: -0.4px;
  right: 70px;
  font-size: 12px;
  line-height: 12px;
  min-width: 22px;
  background-color: #fbb900;
  color: #890f0d;
  padding: 6px;
  border-radius: 50%;
}

.bi-dash-lg {
  color: #fff;
  padding: 10px;
  border: 0.5px solid #fff;
}

.bi-dash-lg:hover {
  background-color: #fbb900;
  color: #890f0d;
}

.bi-plus-lg {
  color: #fff;
  padding: 10px;
  border: 0.5px solid #fff;
}

.bi-plus-lg:hover {
  background-color: #fbb900;
  color: #890f0d;
}

.quantity {
  color: #fff;
  padding: 10px;
}

.shop {
  display: grid;
  grid-template-columns: repeat(3, 436px);
  gap: 30px;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

@media (max-width: 1000px) {
  .shop {
    grid-template-columns: repeat(2, 436px);
  }
}

@media (max-width: 500px) {
  .shop {
    grid-template-columns: repeat(1, 436px);
  }
}

.item {
  border: 1px solid #b2b2b2;
  border-radius: 4px;
}

.details {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  text-align: center;
}

.price-quantity {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 18px;
  font-size: 14px;
  max-width: 140px;
  margin-top: 10px;
  background-color: #890f0d;
  border-radius: 6%;
}

.buttonsCart {
  display: flex;
  flex-direction: row;
  gap: 18px;
  font-size: 14px;
  max-width: 136px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 135px;
  background-color: #890f0d;
  border-radius: 6%;
}

.imgCart {
  margin-left: 110px;
}

.text-center {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.HomeBtn,
.checkout,
.removeAll {
  background-color: #890f0d;
  color: white;
  border: none;
  padding: 6px;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px;
}

.HomeBtn:hover,
.removeAll:hover {
  background-color: #fbb900;
  color: #890f0d;
}

.checkout {
  background-color: #890f0d;
}
.removeAll {
  background-color: red;
  margin-left: 30px;
}
.bi-x-lg {
  color: #000;
  font-weight: bold;
  padding: 10px;
  margin-bottom: 30px;
  margin-left: 10px;
  font-size: 20px;
}

.bi-x-lg:hover {
  background-color: red;
  color: #fff;
}

.shopping-cart {
  display: grid;
  grid-template-columns: repeat(2, 436px);
  gap: 30px;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 50px;
  gap: 15px;
}

@media (max-width: 1000px) {
  .shopping-cart {
    grid-template-columns: repeat(1, 436px);
  }
}

@media (max-width: 500px) {
  .shopping-cart {
    grid-template-columns: repeat(1, 436px);
  }
}

.cart-item {
  border: 0.5px solid #73777b;
  border-radius: 5px;
  display: flex;
}

.title-price-x {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* border: 0.5px solid #73777b; */
  margin-left: 7px;
}

.title-price {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cart-item-price {
  background-color: #890f0d;
  color: #fff;
  border-radius: 4px;
  padding: 3px 6px;
  margin-left: 60px;
}

#exampleFormControlTextarea2 {
  display: none;
}

/* #exampleFormControlTextarea3 {
  display: none;
} */
